# Django settings
SECRET_KEY=
TEMP_FOLDER=temp

# Database settings
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=pandora
DATABASE_USER=postgres
DATABASE_PASSWORD=pass

# Quotes
QUOTES_IMPORT_CATALOGS=/windows/QuikFinam/scripts

# Paths
STORED_ML_MODELS_PATH = /home/darkstorn/PycharmProjects/pandora/Pandora/backend/ml_models/

# API Pandora
# PCM_API = https://api.pandoracapitalmanagement.ru/api
PCM_API = http://localhost:8002/api
PTS_API = http://localhost:8003/api

# FTP
FTP_IP=
FTP_LOGIN=
FTP_PASS=